* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    padding-top: 50px;
    color: #232323;
}
#container {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}
#title {
    font-size: 150%;
}
div#tooltip {
    position: absolute;
    color: #232323;
    background-color: lightgray;
    padding: 5px;
    border: 1px solid gray;
    pointer-events: none;
}